@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
    --cor--primaria: #F6F4EB;
    --cor--secundaria: #749BC2;
    --cor--terciaria: #91C8E4;
    --cor--hoverbotao: rgba(1, 153, 255, 0.075);

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;    
}

*{padding: 0; margin: 0; box-sizing: border-box;}

body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    background-color: var(--cor--primaria);
    color: var(--cor--secundaria);
}

.cabecalho {
    display: flex;
    padding: 2% 0% 0% 15%;
}

@media screen and (width > 1700px){
    .cabecalho {
        justify-content: center;
        padding: 2% 0% 0% 0%;
    }
}

.cabecalho-menu {
    display: flex;
    gap: 80px;
}

.cabecalho-links {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor--terciaria);
}

.cabecalho-links:hover {
    color: var(--cor--secundaria);
}

.apresentacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 15%;
}

@media screen and (width > 1700px){
    .apresentacao{
        display: flex;
        justify-content: center;
    }
}

.apresentacao-conteudo {
    display: flex;
    flex-direction: column;
    width: 615px;
    gap: 40px;
}

.apresentacao-conteudo-titulo {
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
    line-height: 56px;
}

.titulo-destaque {
    color: var(--cor--terciaria);
}

.apresentacao-conteudo-texto {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    line-height: 36px;
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.social-media-subtitle {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.social-media-btns {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    padding: 16px 0;
    border: 2px solid var(--cor--terciaria);
    border-radius: 8px;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    background: none;
    color: var(--cor--secundaria);
}

.social-media-btns:hover {
    background-color: var(--cor--hoverbotao);
}

.rodape {
    text-align: center;
    padding: 24px;
    background-color: var(--cor--terciaria);
    color: var(--cor--primaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.imagewendel {
    height: 532px;
}